{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="Container">
        <h3>Itike</h3>

       <div class="image">
        <img src="{% static 'img/bus.png' %}" alt="">
       </div>

       <div class="routes">
          {% for route in routes %}
          <a href="{% url 'checkout' route_id=route.id %}"><span class="route1">{{ route.from_loc }} </span> -- <span class="route2"> {{ route.to_loc }}</span></a>
          {% endfor %}
       </div>
    </div>
</body>
</html>